.trust {
  &__title {
    margin-bottom: 6rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__card {
    &:first-child {
      grid-row: 2 span;
      @include mobile {
        grid-row: unset;
      }
    }

    min-height: 33.45rem;

    background-color: #f7f7f7;
    padding: 5rem;
    position: relative;
    @include mobile {
      min-height: 27rem;
    }
  }

  &__card-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__card-text {
    @include mobile {
      font-size: 2.8rem;
      font-weight: 500;
      line-height: 130%;
    }
  }
}
