<section class="about" id="about">
  <div class="container container_noright">
    <div class="about__container">
      <div class="about__content">
        <div class="about__content-top">
          <h2 class="about__title">О нас</h2>
          <div class="about__text">
            <p>
              Мы&nbsp;&mdash; команда специалистов с&nbsp;опытом работы
              на&nbsp;международных автомобильных рынках Азии. Знаем все нюансы
              покупки и&nbsp;доставки авто и&nbsp;работаем напрямую
              с&nbsp;аукционами и&nbsp;дилерами.
            </p>
            <ul>
              <li>Более 5 лет опыта</li>
              <li>Эксперты по Японии, Корее и Китаю</li>
              <li>Собственные партнёры за рубежом</li>
            </ul>
          </div>
        </div>
        <div class="about__content-bottom">
          <a href="#" target="_blank" class="btn btn_triangle about__btn">
            перейти в телеграм канал
          </a>
        </div>
      </div>
      <div class="about__img">
        <picture>
          <source
            srcset="./img/about-mob.webp"
            media="(max-width: 576px)"
            type="image/webp"
          />
          <source srcset="./img/about.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/about.jpg"
            class="image"
            width="1200"
            height="700"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
