<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits__title">Почему выбирают «БП-Трейд»</h2>
    <div class="benefits__items">
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">
          Персональная подборка авто с&nbsp;выгодой до&nbsp;30%
        </h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/card.svg" alt="" />
        </div>
      </div>
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">
          Полное сопровождение сделки
        </h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/case.svg" alt="" />
        </div>
      </div>
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">
          Проверка автомобиля перед покупкой
        </h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/car.svg" alt="" />
        </div>
      </div>
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">Доставка по всей РФ и СНГ</h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/flag.svg" alt="" />
        </div>
      </div>
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">
          Работаем только с&nbsp;проверенными площадками
        </h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/check.svg" alt="" />
        </div>
      </div>
      <div class="benefits__item">
        <h3 class="benefits__item-title text-xl">
          Прозрачные условия без&nbsp;скрытых платежей
        </h3>
        <div class="benefits__item-icon">
          <img src="./img/svg/cond.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
