<section class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__header">
      <div>
        <h2 class="contacts__title">контактная информация</h2>
        <p class="text-xl">
          Работаем официально по договору.<br />
          Все&nbsp;платежи прозрачны и подтверждаются документально.
        </p>
      </div>

      <a href="#" target="_blank" class="btn contacts__btn">образец договора</a>
    </div>

    <div class="contacts__container">
      <address class="contacts__address address">
        <div class="address__item">
          <p class="address__title">ООО «БП-Трейд»</p>
        </div>

        <div class="address__item">
          <p class="address__title">ИНН</p>
          <p class="address__value">XXXXXXXX</p>
        </div>

        <div class="address__item">
          <p class="address__title">ОГРН:</p>
          <p class="address__value">XXXXXXXX</p>
        </div>

        <div class="address__item">
          <p class="address__title">Юридический адрес:</p>
          <p class="address__value">Владивосток</p>
          <p class="address__value">Спортивная улица, 2а</p>
          <p class="address__value" style="color: var(--grey4)">690034</p>
        </div>

        <div class="address__row">
          <a href="#" target="_blank" class="btn btn_square address__soc">
            <svg class="" width="30" height="30">
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="btn btn_square address__soc">
            <svg class="" width="30" height="30">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </div>
      </address>

      <div class="contacts__map" id="map"></div>
    </div>
  </div>
</section>
