<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="/" class="logo header__logo">
        <img src="./img/svg/logo.svg" alt="" />
      </a>

      <nav class="nav header__nav">
        <ul>
          <li>
            <a href="#services">услуги</a>
          </li>
          <li>
            <a href="#about">о&nbsp;нас</a>
          </li>
          <li>
            <a href="#contacts">контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__right">
        @include('./phone-dropdown.html')

        <button class="btn btn_sm header__btn">консультация</button>
      </div>

      <div class="header__burger">
        <button
          class="btn-reset burger"
          aria-label="Открыть меню"
          aria-expanded="false"
          data-burger
        >
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
    @include('./header-menu.html')
  </div>
</header>
@include('./modal-order.html') @include('./modal-consult.html')
