<div class="menu" data-menu>
  <div class="menu__overlay" data-menu-overlay></div>
  <div class="menu__body">
    <nav class="nav menu__nav">
      <ul>
        <li>
          <a href="#services" data-menu-item>услуги</a>
        </li>
        <li>
          <a href="#about" data-menu-item>о&nbsp;нас</a>
        </li>
        <li>
          <a href="#contacts" data-menu-item>контакты</a>
        </li>
      </ul>
    </nav>
    <button class="btn menu__btn">консультация</button>
  </div>
</div>
