<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Автомобили под&nbsp;заказ из&nbsp;Азии</h1>
      <ul class="hero__list list-reset">
        <li>Подбор авто под ваш запрос</li>
        <li>Проверка перед покупкой</li>
        <li>Доставка под ключ</li>
      </ul>
      <div class="hero__actions">
        <button class="btn btn_triangle hero__order">заказать авто</button>
        <button class="btn btn_grey btn_triangle hero__consult">
          получить консультацию
        </button>
      </div>
    </div>
  </div>
</section>
