<section class="testi" id="testi">
  <div class="container">
    <div class="testi__header">
      <div class="testi__content">
        <h2 class="testi__title">клиенты о&nbsp;нас</h2>
        <p class="testi__text text-xl">Уже привезли более 100 автомобилей</p>
      </div>
      <button class="btn testi__btn">получить консультацию</button>
    </div>

    <div class="testi__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="testi__card">
            <div class="testi__card-img">
              <picture>
                <source
                  srcset="./img/testi/01.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/testi/01.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/testi/01.jpg"
                  class="image"
                  width="390"
                  height="660"
                  alt=""
                />
              </picture>
            </div>

            <div class="testi__card-content">
              <div class="testi__card-top">
                <span>Игорь</span>
                <span style="color: var(--grey4)">Владивосток</span>
              </div>
              <h3 class="testi__card-title">Toyota Harrier</h3>
              <p>
                Обратился в&nbsp;«БП-Трейд» и&nbsp;вообще не&nbsp;пожалел.
                Подобрали отличный вариант, всё&nbsp;прозрачно показали
                по&nbsp;проверке. Машина приехала в&nbsp;идеальном состоянии,
                как&nbsp;и&nbsp;обещали.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="testi__card">
            <div class="testi__card-img">
              <picture>
                <source
                  srcset="./img/testi/02.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/testi/02.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/testi/02.jpg"
                  class="image"
                  width="390"
                  height="660"
                  alt=""
                />
              </picture>
            </div>

            <div class="testi__card-content">
              <div class="testi__card-top">
                <span>Алексей</span>
                <span style="color: var(--grey4)">Новосибирск</span>
              </div>
              <h3 class="testi__card-title">Kia K5</h3>
              <p>
                Хотел сэкономить и&nbsp;не&nbsp;рисковать&nbsp;— ребята
                полностью закрыли этот&nbsp;вопрос. Всё&nbsp;объяснили, держали
                в&nbsp;курсе на&nbsp;каждом этапе. В&nbsp;итоге получил авто
                дешевле рынка и&nbsp;без&nbsp;лишних нервов.
              </p>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="testi__card">
            <div class="testi__card-img">
              <picture>
                <source
                  srcset="./img/testi/03.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/testi/03.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/testi/03.jpg"
                  class="image"
                  width="390"
                  height="660"
                  alt=""
                />
              </picture>
            </div>

            <div class="testi__card-content">
              <div class="testi__card-top">
                <span>Дмитрий</span>
                <span style="color: var(--grey4)">Москва</span>
              </div>
              <h3 class="testi__card-title">Honda Stepwgn</h3>
              <p>
                Искал семейный автомобиль, сам&nbsp;бы&nbsp;точно
                не&nbsp;справился. Подобрали хороший вариант из&nbsp;Японии,
                проверили и&nbsp;быстро доставили. Очень доволен сервисом
                и&nbsp;подходом.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <button class="btn testi__btn testi__btn_mob">получить консультацию</button>
  </div>
</section>
