<section class="work" id="work">
  <div class="container">
    <div class="work__header">
      <h2 class="work__title">Как проходит работа</h2>

      <div class="work__control control">
        <button class="btn-reset control__btn control__btn_prev work-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </button>
        <button class="btn-reset control__btn control__btn_next work-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arr-right"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="work__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/01-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/01.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/01.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">Оставляете заявку</h3>
              <span class="text-xl">1</span>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/02-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/02.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/02.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">
                Обсуждаем требования и&nbsp;бюджет
              </h3>
              <span class="text-xl">2</span>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/03-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/03.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/03.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">
                Подбираем варианты и&nbsp;согласовываем
              </h3>
              <span class="text-xl">3</span>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/04-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/04.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/04.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">
                Проверяем авто и&nbsp;выкупаем
              </h3>
              <span class="text-xl">4</span>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/05-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/05.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/05.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">
                Доставляем и&nbsp;оформляем документы
              </h3>
              <span class="text-xl">5</span>
            </div>
          </article>
        </div>

        <div class="swiper-slide">
          <article class="work__card">
            <div class="work__card-img">
              <picture>
                <source
                  srcset="./img/work/06-mob.webp"
                  media="(max-width: 576px)"
                  type="image/webp"
                />
                <source srcset="./img/work/06.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/work/06.jpg"
                  class="image"
                  width="500"
                  height="470"
                  alt=""
                />
              </picture>
            </div>

            <div class="work__card-content">
              <h3 class="work__card-title text-xl">
                Передаём вам&nbsp;автомобиль
              </h3>
              <span class="text-xl">6</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
